@import './base.css';

header {
  max-width: 1280px;
  margin: 0 auto;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

/* titles */
h1 {
  margin-bottom: var(--space-small);
}
h2 {
  margin-bottom: var(--space-small);
}
h3 {
  margin-bottom: var(--space-xsmall);
}

/* grid */
.grid--row {
  display: flex;
  gap: var(--space-xlarge);
}
.grid--column {
  flex: 1 1 0px;
}

/* forms and inputs */
label + input:not([type='checkbox']),
textarea {
  display: block;
  width: 100%;
  margin-bottom: var(--space-medium);
}

label {
  display: block;
  margin-bottom: var(--space-medium);

}
.checkbox label {
  display: inline;
  margin-left: var(--space-small);
}

.letter-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 var(--space-medium);
}
.letter-form > * {
  grid-column: span 1;

}
.letter-form .category {
  grid-column: span 2;
}
.letter-form .category + .letter-form .field {
  grid-column-start: 1;
}
/* separators */
hr {
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  margin: var(--space-small) 0;
  display: block;
}
hr.hidden {
  border-top: none;
}

/* letter specific styles */
.letter {
  background: white;
  border: 1px solid #CCCCCC;
  font-family: serif;
  font-size: 14px;
  padding: var(--space-medium);
  color: #222222;
}
.adress--sender, .adress--recipient {
  white-space: pre-wrap;
  margin-bottom: var(--space-medium);
}
.adress--recipient {
  text-align: right;
}
.date {
  text-align: right;
}
.letter .subject {
  text-decoration: underline;
  margin-bottom: var(--space-medium);
}
.letter p {
  margin-bottom: var(--space-medium);
}
.letter .signature {
  text-align: center;
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }
  header, .hide-for-print {
    display: none !important;
  }
  .letter {
    background: white;
    border: none;
    padding: var(--space-xlarge);
    color: black;
  }
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
